<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Music and Pop Culture Trivia</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title">
</head>

<body>
    <!--This div contains all the elements of the quiz -->
    <div id="container">
        <!--This contains the quiz title -->
        <header>

            <h1>So<span>.......</span> think <span>Y</span>ou knOw your music and pop culture?</strong></h1></header>
        <!--This div gives the rules of the gane -->
        <div id="Rules">
            <h2>How to Play:</h2>
            <p>This is a <strong>TWO</strong> player game.<br> Each player is given 10 multiple choice Questions.<br> Each question is worth 10 points.<br>Each player is given <strong>ONE</strong> opportunity to answer.<br> The player with the most points
                at the end of 10 questions wins.<br>
                <em>Enjoy!!</em>
            </p>
        </div>
        <!--This div shows which player's turn it is -->
        <div id="playerturn">
            <p class="turn">
            </p>
        </div>
        <!--This div contains the question, answer options , player selector and next button -->
        <div class="question one">
            <p class="qnText1">
                <strong>(1)Who Sang the following song?</strong><br><br>

            </p>
            <audio controls="">
              <source src="music/BabyOneMoreTimeSample.ogg" type="audio/ogg">
            </audio>

            <ol>
                <li>
                    <div class="1 a">
                        <p>
                            Britney Spears
                        </p>
                    </div>
                </li>
                <li>
                    <div class="1 b">
                        <p>
                            The Spice Girls
                        </p>
                    </div>
                </li>
            </ol>
            <div class="start">
                <button class="P2 " type="button" name="button">Switch Playa!</button>
                <button class="begin" type="button" name="button">Next Question</button>
            </div>
        </div>
        <div class="question two">
            <p class="qnText2">
                <br><br><strong>(2)Which of the following is <em>NOT</em> a country song?</strong>
            </p>

            <ol>
                <li>
                    <div class="2 a">
                        <p>
                            Party in the USA, Miley Cyrus.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="2 b">
                        <p>
                            Achy Breaky Heart,Billy Ray Cyrus
                        </p>
                    </div>
                </li>
            </ol>
            <div class="start">
                <button class="P2 " type="button" name="button">Switch Playa!</button>
                <button class="begin" type="button" name="button">Next Question</button>
            </div>
        </div>
        <div class="question three">
            <p class="qnText3">
                <br><br><strong>(3)Where is Country Music more popular?</strong>
            </p>

            <ol>
                <li>
                    <div class="3 a">
                        <p>
                            Singapore.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="3 b">
                        <p>
                            United States of Amurica.
                        </p>
                    </div>
                </li>
            </ol>
            <div class="start">
                <button class="P2 " type="button" name="button">Switch Playa</button>
                <button class="begin" type="button" name="button">Next Question</button>
            </div>
        </div>
        <div class="question four">
            <p class="qnText4">
                <br><br> <strong>(4)Which of the Kardashians<br> are <em>NOT</em> blood sisters?</strong>
            </p>

            <ol>
                <li>
                    <div class="4 a">
                        <p>
                            Kim
                        </p>
                    </div>
                </li>
                <li>
                    <div class="4 b">
                        <p>
                            Khloe
                        </p>
                    </div>
                </li>

                <div class="start">
                    <button class="P2 " type="button" name="button">Switch Playa</button>
                    <button class="begin" type="button" name="button">Next Question</button>
                </div>
        </div>
        <div class="question five">
            <p class="qnText">
                <br><br><strong>(5)Which year was the song Barbie Girl<br> released?</strong>
            </p>

            <ol>
                <li>
                    <div class="5 a">
                        <p>
                            1997
                        </p>
                    </div>
                </li>
                <li>
                    <div class="5 b">
                        <p>
                            2014
                        </p>
                    </div>
                </li>
            </ol>
            <div class="start">
                <button class="P2 " type="button" name="button">Switch Playa!</button>
                <button class="begin" type="button" name="button">Next Question</button>
            </div>
        </div>

        <div class="question six">
            <p class="qnText">
                <br> <strong>(6)Which song did the spice girls <em>NOT</em> sing? </strong>
            </p>

            <ol>
                <li>
                    <div class="6 a">
                        <p>
                            All About that Bass.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="6 b">
                        <p>
                            Wannabe.
                        </p>
                    </div>
                </li>
            </ol>
            <div class="start">
                <button class="P2 " type="button" name="button">Switch Playa!</button>
                <button class="begin" type="button" name="button">Next Question</button>
            </div>
        </div>

        <div class="question seven">
            <p class="qnText">
                <strong>(7)Which song was <em>NOT</em> a hit in 1996?</strong>
            </p>

            <ol>
                <li>
                    <div class="7 a">
                        <p>
                            I Love You Always Forever, Donna Lewis.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="7 b">
                        <p>
                            You Get What You Give, New Radicals.
                        </p>
                    </div>
                </li>
            </ol>
            <div class="start">
                <button class="P2 " type="button" name="button">Switch Playa!</button>
                <button class="begin" type="button" name="button">Next Question</button>
            </div>
        </div>

        <div class="question eight">
            <p class="qnText">
                <strong>(8)Which song defines 90s rap?</strong>
            </p>

            <ol>
                <li>
                    <div class="8 a">
                        <p>
                            Gangsta's Paradise,Coolio
                        </p>
                    </div>
                </li>
                <li>
                    <div class="8 b">
                        <p>
                            What a Girl Wants, Christina Auguliera.
                        </p>
                    </div>
                </li>
            </ol>
            <div class="start">
                <button class="P2" type="button" name="button">Switch Playa!</button>
                <button class="begin" type="button" name="button">Next Question</button>
            </div>
        </div>

        <div class="question nine">
            <p class="qnText">
                <br><br><strong>(9)Who is <em>NOT</em> a Jersey Shore character?</strong>
            </p>

            <ol>
                <li>
                    <div class="9 a">
                        <p>
                            Snooki
                        </p>
                    </div>
                </li>
                <li>
                    <div class="9 b">
                        <p>
                            Wolverine
                        </p>
                    </div>
                </li>
            </ol>
            <div class="start">
                <button class="P2 " type="button" name="button">Switch Playa!</button>
                <button class="begin" type="button" name="button">Next Question</button>
            </div>
        </div>

        <div class="question ten">
            <p class="qnText">
                <br> <strong>(10)Which character sang soft kitty?</strong>
            </p>

            <ol>
                <li>
                    <div class="10 a">
                        <p>
                            Sheldon Cooper
                        </p>
                    </div>
                </li>
                <li>
                    <div class="10 b">
                        <p>
                            Joey Tribbani
                        </p>
                    </div>
                </li>
            </ol>
            <div class="start">
                <button class="P2 " type="button" name="button">Switch Playa!</button>
                <button class="begin" type="button" name="button">Next</button>
            </div>
        </div>

        <div class="question eleven">
            <h2>Thanks for playing.<br>Why not give it another go?</h2>
            <div class="ta">
                <button class="winner">Press to see winner</button>
                <button class="restart" type="button" name="button">Restart</button>
            </div>
        </div>
        <!--The div and aside elements below display the players' progress -->
        <div class="playerprogress">
            <div class="p1">
                <h4 class="h4Q1">Player 1 Vital Stats</h4>
                <p class="pOneQn">
                    Question 1
                </p>
                <p class="pOneScore">
                    Your Score is:Zilch baby!!
                </p>
            </div>
            <aside>
                <h4 class="h4Q2">Player 2 Vital Stats</h4>
                <p class="pTwoQn">
                    Question 1
                </p>
                <p class="pTwoScore">
                    Your Score is:Zilch too mate!!
                </p>

            </aside>

        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
</body>

</html>
